.CodeMirror {
  text-align: left!important;
  border: 1px solid #eee;
  height: 75vh;
  box-sizing: border-box;
  margin: 0;
  font: inherit;
  overflow: auto;
  font-family: inherit;
  display: block;
  width: 54vw;
  /* min-width: 50vw; */
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.3;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: monospace;
  position: relative;
  overflow: hidden;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 82vh;
}

.CodeMirror-focused {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
