:root { 
    --navbar-upper-bg: #e9e9e9;
    --desc-navbar-bg: #e0e0e0;
    --navbar-lower-bg: #e0e0e0;
    --navbar-border-color: 1px solid #bbb;
    --code-terminal-view: 1px solid #bbb;
    --code-terminal-active: 1px solid #888;
    --btn-box-shadow: 0 4px 9px 0 #888;
    --document-body-bg: #e9e9e9;
    /* add text-muted class to all display-4 elements */
    --display-4-color: #6c757d;
    --codemirror-border: 1px solid #ddd;
    /* set ace editor theme to chrome */
    --inner-overlay-bg: #eee;
    --settings-btn-bg: #eee;
    --open-icon-color: inherit;
    --top-icon-color: inherit;
    --project-list-bg: inherit;
    --project-list-color: inherit;
    --ace-scrollbar-color: #999 #e0e0e0;
    --ace-scrollbar-color-hover: #666 #e0e0e0;
    --action-btn-color: #fff;
    --btn-info-bg:  #6091ef;
    --btn-info-border:  #6091ef;
    --btn-info-color:  #fff;
    --btn-primary-bg:  #0ea0ff;
    --btn-primary-border:  #0ea0ff;
    --btn-primary-color:  #fff;
    --btn-dark-bg:  #343a40;
    --btn-dark-border:  #343a40;
    --btn-dark-color:  #fff;
    --btn-danger-bg:  #dc3545;
    --btn-danger-border:  #dc3545;
    --btn-danger-color:  #fff;
    --hover-filter: brightness(1.25);
    --editor-tab-border: #aaa;
    --logout-hover: #ffcece;
    --autosave-evaltheme-passwd-border: 1px solid #999;
    --autosave-evaltheme-passwd-bg: inherit;
    --autosave-evaltheme-passwd-color: inherit;
    --scrollbar-color: #999 #dadada;
    --scrollbar-color-hover: #666 #dadada;
    --scrollbar-track: #999;
    --scrollbar-thumb: #555;
    --scrollbar-thumb-hover: #333;
    --settings-button-outer-fill: #fff;
    --settings-button-inner-fill: #444;

    --local-simulation-outer-fill: #fff;
    --local-simulation-inner-fill: #444;

    --close-btn-fill: #444;
    --ace-line-error-color: #ffadad;
    --special-text-coloration: #6c757d;

    --terminal-output-bg: #ddd;

    --fpga-editor-border: #333;
    --editor-tab-bg: inherit;
    --editor-tab-bg-hover: #eee;
    --editor-tab-bg-edit: #ccc;
    --editor-tab-close-color-hover: #666;
    --editor-tab-hover: brightness(0.75);
    --editor-tab-selected: brightness(0.5)!important;
    --dark-mode-switch-position: 19px;
    --local-simulation-switch-position: 19px;
    --autocomplete-switch-position: 19px;
}

[uart-option="false"] {
    --uart-inner-fill: #444;
    --uart-outer-fill: #fff;
    --uart-switch-position: 19px;
}

[uart-option="true"] {
    --uart-inner-fill: #fff;
    --uart-outer-fill: #444;
    --uart-switch-position: 42px;
}

[autoterminal-option="false"] {
    --autoterminal-inner-fill: #444;
    --autoterminal-outer-fill: #fff;
    --autoterminal-switch-position: 19px;
}

[autoterminal-option="true"] {
    --autoterminal-inner-fill: #fff;
    --autoterminal-outer-fill: #444;
    --autoterminal-switch-position: 42px;
}

[localsimulation-option="false"] {
    --local-simulation-inner-fill: #444;
    --local-simulation-outer-fill: #fff;
    --local-simulation-switch-position: 19px;
}

[localsimulation-option="true"] {
    --local-simulation-inner-fill: #fff;
    --local-simulation-outer-fill: #444;
    --local-simulation-switch-position: 42px;
}

[simulate-on-save="false"] {
    --sos-inner-fill: #444;
    --sos-outer-fill: #fff;
    --simulate-on-save-switch-position: 19px;
}

[simulate-on-save="true"] {
    --sos-inner-fill: #fff;
    --sos-outer-fill: #444;
    --simulate-on-save-switch-position: 42px;
}

[code-autocomplete="false"] {
    --autocomplete-inner-fill: #444;
    --autocomplete-outer-fill: #fff;
    --autocomplete-switch-position: 19px;
}

[code-autocomplete="true"] {
    --autocomplete-inner-fill: #fff;
    --autocomplete-outer-fill: #444;
    --autocomplete-switch-position: 42px;
}

[data-theme="dark"] {
    --special-text-coloration: #ddd;
    --navbar-upper-bg: #222;
    --desc-navbar-bg: #333;
    --navbar-lower-bg: #444;
    --navbar-border-color: 1px solid #444;
    --code-terminal-view: 1px solid #444;
    --code-terminal-active: 1px solid #888;
    --btn-box-shadow: 0 4px 9px 0 #111;
    --document-body-bg: #222;
    --terminal-output-bg: #111;
    /* add text-muted class to all display-4 elements */
    --display-4-color: #ddd;
    --codemirror-border: 1px solid #444;
    /* set ace editor theme to chrome */
    --inner-overlay-bg: #223;
    --settings-btn-bg: #223;
    --open-icon-color: white;
    --top-icon-color: white;
    --project-list-bg: #334;
    --project-list-color: #aaa;
    --ace-scrollbar-color: #999 #e0e0e0;
    --ace-scrollbar-color-hover: #666 #e0e0e0;
    --action-btn-color: #fff;
    --hover-filter: brightness(1.75);
    --editor-tab-border: #555;
    --logout-hover: #700;
    --btn-info-bg:  #011535;
    --btn-info-border:  #011535;
    --btn-info-color:  #eee;
    --btn-primary-bg:  #1a4d9e;
    --btn-primary-border:  #1a4d9e;
    --btn-primary-color:  #eee;
    --btn-dark-bg:  #a9a9a9;
    --btn-dark-border:  #a9a9a9;
    --btn-dark-color:  #333;
    --btn-danger-bg:  #b00020;
    --btn-danger-border:  #b00020;
    --btn-danger-color:  #eee;
    --autosave-evaltheme-passwd-border: 1px solid #228;
    --autosave-evaltheme-passwd-bg: #113;
    --autosave-evaltheme-passwd-color: #bbb;
    --scrollbar-color: #aaa #444;
    --scrollbar-color-hover: #777 #444;
    --scrollbar-track: #666;
    --scrollbar-thumb: #ccc;
    --scrollbar-thumb-hover: #999;
    --settings-button-outer-fill: #444;
    --settings-button-inner-fill: #fff;

    --close-btn-fill: #ccc;
    --ace-line-error-color: #550000;

    --fpga-editor-border: #ccc;
    --editor-tab-bg: inherit;
    --editor-tab-bg-hover: #353535;
    --editor-tab-bg-edit: #444;
    --editor-tab-close-color-hover: #999;
    --editor-tab-hover: brightness(1.25);
    --editor-tab-selected: brightness(1.75)!important;
    --dark-mode-switch-position: 42px;
}
